<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="selectUserToLogin" resultType="int">
        select user_id from user where username = #{username} and password = #{password}
    </select>
    <select id="selectUserNameByUserId" resultType="string">
        select username from user where user_id = #{userId}
    </select>
    <select id="selectUserToCheckUsername" resultType="int">
        select count(*) from user where username = #{username}
    </select>
    <insert id="insertUserToLogup" keyProperty="user_id">
        insert into user(username, password) VALUES (#{username}, #{password})
    </insert>
</mapper>
